/*main nav and  center*/
@keyframes changeColor {
    0% {color: red;}
    50% {color: blue;}
    100% {color: red;}
}

ul {
    list-style-type: none;
    margin-top: 250px;
    margin-left: 540px;
    overflow: hidden;
    background-color:transparent;
  }
  
li {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

li a {
    display: block;
    color: #FEFFFF;
    text-align: center;
    padding: 16px 15px;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    opacity: 1;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
  
li a:hover:not(.active) {
    background-color: transparent;
}

.active {
    background-color: transparent;
}
body{
    background-image: url("https://images.wallpaperscraft.com/image/laptop_cup_glasses_plant_114948_1920x1080.jpg");
}
.center-home-text h1{
    text-align: center;
    color: #FEFFFF;
}
/*Dropdown about*/
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    float: right;
    display: inline-block;
    margin-top: 1px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}